:root {
    --hero-text-color: #FFFFFF;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --button-bg-color: #F5F4FA;

}

body {
    background-color: #F5F5F5;
    color: #757575;
}
/* logo #000000 #2196F3*/
/* основной  черный цвет #212121; */
/* заголовок белый #FFFFFF; */
/* вторичный цвет #757575; */
/* наведение #2196F3; */
/* background hero и footer #2F303A; */

.logo {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: #2F303A;
}
.hero-title {
    color: var(--hero-text-color)
}

/* site nav */
ul {
    list-style: none;
}

.site-nav a {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color)
}

/* section */
.section-title {
    color: var(--title-text-color);
}

/* features */
.features .feature-titel {
color: var(--title-text-color);
}

/* section-team */
.section-team .team {
    color: var(--title-text-color);
}

/* footer */
.footer {
    background-color: #2F303A;
}
.footer .maps {
    color: var(--hero-text-color);   
}
.footer .maps:hover,
.footer .maps:focus {
    color: var(--accent-color);
}

.footer .contact {
    color: rgba(255, 255, 255, 0.6);
}
.footer .contact:hover,
.footer .contact:focus {
    color: var(--accent-color)
}

/* PORTFOLIO */

.button {
    color: var(--title-text-color);
    background-color: var(--button-bg-color);
}
.button.primary {
    background-color: var(--accent-color);
    color: var(--hero-text-color)
}

.button.secondary {
    background-color: var(--button-bg-color);
    color: var(--title-text-color)
}